<!DOCTYPE html>
<html>
  <head>
    <title>SparkCommunity</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%=javascript_include_tag "https://www.authy.com/form.authy.min.js" %>
  <%=stylesheet_link_tag "https://www.authy.com/form.authy.min.css" %>

  </head>

  <body>
  <h1>Birthday Bot!</h1>
    <%= yield %>
  </body>
</html>
